
.dropdown-link {
    font-size: 1.7rem;
    color: $brilliantGreen;
    cursor: pointer;
    transition: all .2s ease-in-out;

        &:hover {
                text-decoration: none;
                color: $brilliantGreen;
                transform: scale(1.1);
        }

        a {
            color: $brilliantGreen;
            &:hover {
                color: $brilliantGreen;
            }
        }
    
}

.logout {
    cursor: pointer;
}

.todolist {
    position: relative;
    min-width: 10vw;
    max-width: 100%;
    min-height: 230px;
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 20px;

    input[type="text"] {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(90%, 50%, 86%, 0.8), rgba(100%, 70%, 77%));
        color: #fff;
        transition: all .4s ease-in-out;
        padding: 25px 0;
        outline: none;
        flex-grow: 3;
        font-size: clamp(.9rem, 1rem + 10vw, 1.7rem);

        &:focus {
            background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(90%, 50%, 86%, 0.8), rgba(100%, 100%, 77%));
            color: $brilliantGreen;
        }
    }

    button {
        flex-grow: 1;
        padding: 30px 0;
    }

}







    







.todolist-row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-gap: 2em;

    
    .td-title {
        background-color: $brilliantGreen;
        position: relative;
        border-radius: 20px 20px 0 0;

        h5 {
            font-size: 1.7rem;
        }

        .delete {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            display: none;
            
            .fa-trash {
                cursor: pointer;
                color: red;
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(0.7);
                }
            }
        }

        &:hover .delete {
            display: block;
        }
    
    }
}

.todolist-1 {
    display: grid;
    grid-template-columns: 100%;
}

.todo {
    
    border-bottom: 1px solid $brilliantGreen;
    padding: 10px;
    font-size: 18px;
    color: $brilliantGreen;

    &:hover .trash{
        display: block;
    }
}

.trash {
    display: none;
    transition: all .3s ease-in-out;

    .fa-trash {
        color: red;
        cursor: pointer;
        &:hover {
            transform: scale(0.7);
        }
    }

}

.invalid {
    border: 1px solid red;
}

.error {
    position: absolute;
    top: -5px;
    left: 0;
}